$green : #92C220;
$grey  : #cdcdcd;

.content{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    
    font-family: 'Teko', sans-serif;

    &-products{
        width: 100vw;
        min-height: 95vh;

        display: flex;

        padding: 2vw;
        gap: 4vw;
        flex-wrap: wrap;

        &-section{
            width: 20vw;
            height: 30vw;

            padding: 1vw;
    
            border: 0.1vw solid $grey;
            background-color: #fff;
            border-radius: 0.5vw;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            transition-duration: 300ms;

            &-img{
                width: 100%;
                height: 15vw;

                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;   
                }
            }
            &-title{
                width: 100%;
                height: 4vw;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                cursor: pointer;

                transition-duration: 300ms;

                h1{
                    font-size: 2.2vw;
                }
            }
            &-desc{
                width: 100%;
                height: 5vw;
                
                overflow-x: auto;

                display: flex;
                justify-content: center;
                align-items: center;
                
                font-family: 'Roboto', sans-serif;

                p{
                    font-size: 1vw;
                }
            }
            &-buttons{
                width: 100%;
                height: 4vw;

                display: flex;
                justify-content: space-between;
                align-items: center;

                font-family: 'Roboto', sans-serif;

                &-add{
                    width: 60%;
                    height: 100%;

                    display: flex;
                    justify-content: start;
                    align-items: center;

                    button{
                        width: 10vw;
                        height: 3vw;
    
                        background-color: $green;
            
                        color: #fff;
                        font-size: 1.3vw;
            
                        border: 0.1vw solid $grey;
                        border-radius: 0.5vw;
            
                        transition-duration: 300ms;
                        cursor: pointer;
                    }
                    button:hover{
                        background-color: #fff;
                        color: $green;
                        border: 0.1vw solid $green;
                    }
                }
                &-counter{
                    width: 40%;
                    height: 100%;
                    
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;

                    p{
                        font-size: 1.4vw;
                    }
                
                    button{
                        width: 2vw;
                        height: 2vw;
    
                        border: 0.1vw solid $grey;
                        border-radius: 0.5vw;
                        
                        background-color: #fff;
                        color: $green;

                        font-size: 1.3vw;
    
                        transition-duration: 300ms;
                        cursor: pointer;
                    }
                    button:hover{
                        background-color: $green;
                        color: #fff;
                    }
                }
            }
        }
        &-section:hover{
            border: 0.1vw solid $green;
        }
    }
}